/*--------------- debug ---------------*/
main {
  background-color: royalblue;
}

/*--------------- /debug --------------*/

/*--------------- common ---------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: "Nunito", sans-serif;
  color: #33475b;
  font-size: 16px;
  /* text-align: left; */
}
h1 {
  font-size: 46px;
  padding: 20px 0;
}
h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
h3 {
  font-size: 22px;
  margin-bottom: 20px;
}
h4 {
  font-size: 14px;
  margin: 20px 0;
}
p {
  padding: 10px 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  cursor: pointer;
}

.container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
}
.w-70 {
  width: 70%;
  height: 100%;
}
.w-50 {
  width: 50%;
  height: 100%;
}
.w-30 {
  width: 30%;
  height: 100%;
}
.w-25 {
  width: 25%;
  height: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.float-left {
  float: left;
}

.list-inline {
  list-style: none;
}

.ib {
  display: inline-block;
}

.shadow {
  box-shadow: 0px 0px 5px #d4dfe7;
}

/* text */
.text-r {
  text-align: right;
}
.text-l {
  text-align: left;
}
.text-c {
  text-align: center;
}
.text-sm {
  font-size: 12px;
}
.text-upper {
  font-weight: 700;
  text-transform: uppercase;
  /* padding: 20px 0; */
}

/* color */
.c-orange {
  color: #ff7a59;
}
.c-white {
  color: #fff;
}
.c-azure {
  color: #0091ae;
}
.c-grey {
  color: #2d3e50;
}

/* background-color */
.bgc-grey {
  background-color: #f4f9fd;
}
.bgc-white {
  background-color: #fff;
}
.bgc-orange {
  background-color: #ff7a59;
}
.bgc-lightor {
  background-color: #ffbcac;
}
.bgc-lightor2 {
  background-color: #fff4ef;
}
.bgc-lightgre {
  background-color: #afebe4;
}

/* buttons */
.btn {
  border-radius: 5px;
  padding: 5px 5px;
  border: 1px solid #ff7a59;
  /* font-size: 12px; */
  overflow: hidden;
}
.btn-lg {
  padding: 15px 25px;
}
.btn-ft {
  border-color: #fff;
}
.btn:hover {
  background-color: #ffbcac;
  border-color: #ffbcac;
}

/*--------------- header ---------------*/
/* navbar */
#fixed_nav {
  position: fixed;
  top: 0;
  z-index: 1;
  height: calc(10vh - 1px);
  width: 100%;
  border-bottom: 1px solid #33475b;
}
#static_nav {
  height: 10vh;
  margin-top: 10vh;
}
#fixed_nav,
#static_nav {
  line-height: 10vh;
}

nav .list-inline li {
  vertical-align: middle;
  margin: 0 10px;
}

#fixed_nav .w-30 a:hover,
#static_nav .w-70 a:hover,
footer li:not(.btn) a:hover,
.lang a:hover {
  color: #0091ae;
  text-decoration: underline;
}

.list-inline i {
  font-size: 12px;
}
.list-inline .vl {
  font-size: 80%;
  border-left: 1px solid;
}

#static_nav .logo img {
  vertical-align: middle;
  margin-left: 10px;
}

/* jumbotron */
.jumbotron {
  min-height: 70vh;
  padding: 10px 0;
  background-image: url(../img/jumbotron.png);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: 100% 2%;
}

/* header footer */
header > footer.bgc-lightgre {
  height: calc(10vh - 4px);
  border: solid #33475b;
  border-width: 2px 0;
}

/*---------------- main ----------------*/
main {
  padding: 20px 0;
}
main > section {
  padding: 20px 0;
}

/* .main-title, */
.main-single,
.main-triple {
  margin-top: 30px;
  padding: 40px 0;
}
.main-title img {
  max-height: 200px;
}
.main-single img,
.main-triple img {
  max-height: 100px;
  margin-bottom: 10px;
}

.ol {
  width: 70%;
  height: 8px;
  border-bottom: 1px solid #33475b;
}

.main-single li {
  margin-right: 10px;
}
.main-single i,
.main-triple i {
  margin-right: 5px;
}

.main-triple-text {
  padding: 0 25px;
}
.main-triple-text hr {
  margin-top: 30px;
  margin-bottom: 15px;
  height: 1px;
  border-width: 0;
  background-color: #33475b;
}
.main-triple-text ul {
  margin-bottom: 40px;
}

.main-triple:nth-child(2) {
  margin-left: calc(10% / 2);
  margin-right: calc(10% / 2);
}
/*--------------- footer ---------------*/
body > footer {
  min-height: 70vh;
  padding: 10px 0;
  background-color: #2d3e50;
}
footer li,
.btn-ft {
  margin: 10px 0;
}
footer i {
  margin-right: 20px;
}
.lang {
  margin-top: 60px;
  border-bottom: 1px solid #fff;
}
.lang h4 {
  font-weight: 600;
  margin: 10px;
}
footer .logo {
  /* height: 25px; */
  margin-top: 50px;
}
footer p {
    padding: 0;
}
footer section.ft-logo li:first-child{
margin-right: 15px;
}
